@charset "utf-8";

/* ======================================== 共通 ======================================== */
html, body{
    font-size: 16px;
    font-family: sans-serif;
}
body, div, p, h1, h2, ul{
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
    height: auto;
}
a{
    color: #111;
    text-decoration: none;
}

/* ======================================== header & nav ======================================== */
/* ---------- 最上段header ---------- */
.top-header{
    display: flex;
    background-color: #ccffff;
}

/* テキスト */
.top-header p{
    font-size: 0.8rem;
    color: #a9a9a9;
    padding: 10px 0;
    margin-left: 130px;
}

/* リスト */
.top-header-list{
    margin: 0 150px 0 auto;
    padding: 0;
}
.top-header-list ul{
    display: flex;
    list-style-type: none;
    margin: 10px 0;
}
.top-header-list li{
    border-right: 1px solid #dcdcdc;
    line-height: 1.1;
}
.top-header-list a{
    font-size: 0.8rem;
    padding: 10px 0;
    margin: 0 10px;
}
.top-header-list li:last-child{
    padding-left: 13px;
    background: url(../images/svg/login.svg) no-repeat left;
    border-right: none;
}
.top-list-last{
    color: #330066;
    font-weight: bold;
}

/* ---------- メインheader ---------- */
.main-header{
    display: flex;
    margin: 20px 0;
}

/* ロゴ */
.header-logo{
    margin-left: 130px;
}
.header-logo img{
    width: 350px;
}

/* 電話番号 */
.header-tel{
    margin-left: 250px;
}
.header-tel a{
    font-family: 'PT Sans Narrow';
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    color: #330066;
    background: url(../images/svg/call.svg) no-repeat left;
    background-size: 25px 25px;
    padding-left: 32px;
}
.header-tel p{
    font-size: 0.75rem;
    color: #a9a9a9;
    margin: 0;
    padding-left: 40px;
}

/* リンク */
.header-link{
    margin-left: 10px;
}
.header-link a{
    display: block;
    width: 130px;
    padding: 10px;
    border-radius: 10px;
    background: #330066;
    color: #fff;
    text-align: center;
    font-weight: bold;
}
.normal-font{
    font-weight: normal;
}
.header-link ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.header-link li{
    margin: 5px;
}