@charset "utf-8";

/* ======================================== 共通 ======================================== */
html, body{
    font-size: 16px;
    font-family: sans-serif;
}
body, div, p, h1, h2, ul{
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
    height: auto;
}
a{
    color: #111;
    text-decoration: none;
}

/* ======================================== header ======================================== */
/* ---------- 最上段header ---------- */
.top-header{
    display: flex;
    background-color: #ccffff;
}

/* テキスト */
.top-header p{
    font-size: 0.8rem;
    color: #a9a9a9;
    padding: 10px 0;
    margin-left: 130px;
}

/* リスト */
.top-header-list{
    margin: 0 150px 0 auto;
    padding: 0;
}
.top-header-list ul{
    display: flex;
    list-style-type: none;
    margin: 10px 0;
}
.top-header-list li{
    border-right: 1px solid #dcdcdc;
    line-height: 1.1;
}
.top-header-list a{
    font-size: 0.8rem;
    padding: 10px 0;
    margin: 0 10px;
}
.top-header-list li:last-child{
    padding-left: 13px;
    background: url(../images/svg/login.svg) no-repeat left;
    border-right: none;
}
.top-list-last{
    color: #330066;
    font-weight: bold;
}

/* ---------- メインheader ---------- */
.main-header{
    display: flex;
    margin: 20px 0;
}

/* ロゴ */
.header-logo{
    margin-left: 130px;
}
.header-logo img{
    width: 350px;
}

/* 電話番号 */
.header-tel{
    margin-left: 250px;
}
.header-tel a{
    font-family: 'PT Sans Narrow';
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    color: #330066;
    background: url(../images/svg/call.svg) no-repeat left;
    background-size: 25px 25px;
    padding-left: 32px;
}
.header-tel p{
    font-size: 0.75rem;
    color: #a9a9a9;
    margin: 0;
    padding-left: 40px;
}

/* リンク */
.header-link{
    margin-left: 10px;
}
.header-link a{
    display: block;
    width: 130px;
    padding: 10px;
    border-radius: 10px;
    background: #330066;
    color: #fff;
    text-align: center;
    font-weight: bold;
}
.normal-font{
    font-weight: normal;
}
.header-link ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.header-link li{
    margin: 5px;
}

/* ======================================== nav ======================================== */
.navbar ul{
    display: flex;
    list-style-type: none;
    margin: 15px 0;
    justify-content: center;
}
.navbar a{
    display: block;
    font-size: 0.9rem;
    border-right: 1px solid #dcdcdc;
    height: 40px;
    margin: 10px 0;
    padding: 0 20px;
    text-align: center;
    font-weight: bold;
}
.nav-last-child a{
    border-right: none;
}
.navbar p{
    display: block;
    margin: 0;
    padding: 10px 30px;
}
.nav-two-lines p{
    padding: 0 30px;
}

/* ======================================== key-visual ======================================== */
/* 画像 */
.key-visual{
    padding: 0;
    margin: 0;
    background: linear-gradient(90deg, rgba(17,17,17,1), transparent), url(../images/nkou_key.jpg) no-repeat;
    background-position: right 0px;
    height: 650px;
}

/* 文字 */
.key-catch{
    position: absolute;
    color: #fff;
    top: 400px;
    left: 80px;
}
.key-underline p{
    display: inline-block;
    padding-bottom: 2px;
    margin-bottom: 20px;
    font-family: PT Serif;
    letter-spacing: 4px;
    font-weight: lighter;
    font-size: 1.5rem;
    border-bottom: 1px solid #fff;
}
.key-catch h2{
    font-size: 3.5rem;
    letter-spacing: 4px;
}
.key-catch h3{
    line-height: 2.2;
    letter-spacing: 4px;
}

/* ======================================== main ======================================== */
/* -------------------- education -------------------- */
/* heading（education & features） */
.heading{
    display: block;
    position: relative;
    background: #66ffff;
    text-align: center;
    margin: 0;
    padding: 60px 0;
    font-size: 1.5rem;
    color: #330066;
    letter-spacing: 4px;
}
.heading ::after{
    position: absolute;
    content: '';
    border-right: 1px solid #330066;
    height: 80px;
    left: 50%;
    top: 130px;
}

/* contents */
.education-contents{
    max-width: 1100px;
    margin: 70px auto 0 auto;
}
.education-contents p{
    letter-spacing: 1.2px;
    line-height: 2;
}

/* education-contents-2 */
.education-contents-2{
    display: flex;
    justify-content: center;
    margin: 50px 0;
}
.education-image img{
    height: 300px;
    width: 350px;
}
.education-item li{
    list-style-type: none;
    text-align: center;
    background: #66ffff;
    padding: 13px 35px;
    margin-bottom: 25px;
    margin-left: 50px;
}
.education-item p{
    line-height: 1.7;
}
.bold-font{
    font-size: 1.2rem;
    font-weight: bold;
    color: #330066;
}

/* -------------------- features -------------------- */
/* 共通 */
.features-container{
    max-width: 1100px;
    margin: 100px auto 0 auto;
}
.features-item{
    display: flex;
    margin-top: 100px;
    align-items: flex-end;
}
.feature-item-1-1 ,.feature-item-1-2
,.feature-item-2-1 ,.feature-item-2-2
,.feature-item-3-1 ,.feature-item-3-2{
    width: 550px;
}
.feature-item-1-1 ,.feature-item-2-2 ,.feature-item-3-1{
    margin-right: 30px;
}
.feature-item-1-2 ,.feature-item-2-1 ,.feature-item-3-2{
    margin-left: auto;
}

/* コンテンツ共通 */
.feature-image img{
    width: 500px;
    height: 380px;
    border-radius: 10px;
}
.feature-number p{
    font-family: 'Gelasio', serif;
    font-size: 3.8rem;
    letter-spacing: 7px;
    color: #330066;
}
.feature-heading h3{
    font-size: 1.4rem;
    letter-spacing: 2px;
    line-height: 1.7;
    margin: 0;
}
.feature-text p{
    letter-spacing: 1.5px;
    line-height: 2;
    margin: 20px 0;
}
.feature-link a{
    font-weight: bold;
    font-size: 0.9rem;
    color: #330066;
    padding-right: 20px;
    background: url(../images/svg/link_arrow.svg) no-repeat right top;
    margin-right: 17px;
}

/* feature位置レイアウト */
.feature-item-2-1{
    order: 2;
}
.feature-item-2-2{
    order: 1;
}

/* ----- ネット・リアル まとめリスト ----- */
.net-real-list{
    width: 950px;
    margin: 0 auto;
    margin-top: 40px;
    background: #66ffff;
}
.net-real-list h4{
    padding: 25px 0 0 30px;
}
.net-real-list p{
    padding: 10px 0 25px 30px;
}
.net-real-list ul{
    display: flex;
    list-style-type: none;
    padding-left: 30px;
}
.net-real-list li{
    padding: 0 20px 0 15px;
    position: relative;
}
.net-real-list li::before{
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #330066;
    top: 13px;
    left: 0;
}

/* ----- ネットの高校とは ----- */
/* 全体レイアウト */
.what-nkou{
    display: flex;
    margin-top: 80px;
    padding: 0;
    width: 1100px;
    background: #66ffff;
}
.what-nkou-heading{
    margin: 100px 0;
    width: 400px;
}
.what-list-left ,.what-list-right{
    margin: 0;
    width: 350px;
}

/* コンテンツレイアウト */
.what-nkou-heading h3{
    margin: 0;
    padding: 37px 0;
    font-size: 1.4rem;
    color: #330066;
    text-align: center;
}
.what-nkou-list{
    display: flex;
    margin: 10px 0;
}
.what-nkou-list li{
    border-bottom: 1px solid #ccc;
}
.what-nkou-list li:last-child{
    border-bottom: none;
}
.what-nkou-list ul{
    list-style-type: none;
    margin: 10px 20px 10px 0;
}
.what-nkou-list li{
    padding: 10px 0
}
.what-list-left li:first-child{
    color: #330066;
}

/* ======================================== CONTACT ======================================== */
/* ----- 共通 ----- */
.contact-container{
    display: flex;
    margin-top: 100px;
    background: #330066;
    color: #fff;
    justify-content: center;
}
.contact-container ul{
    display: flex;
    list-style-type: none;
}
.contact-left ,.contact-right{
    margin: 50px;
}
.contact-left{
    padding: 30px 0;
}
.tell-font{
    font-family: 'PT Sans Narrow';
}
.font-light{
    font-weight: normal;
}

/* ----- 左コンテンツ ----- */
.contact-left h2{
    display: inline;
    margin: 0 110px;
    text-align: center;
    font-size: 1.4rem;
    font-family: PT Serif;
    font-weight: normal;
    letter-spacing: 2px;
    border-bottom: 1px solid #fff;
}
.contact-left p{
    text-align: center;
    margin-top: 20px;
    font-size: 1.8rem;
    font-weight: bold;
}

/* ----- 右コンテンツ ----- */
/* コンテンツ上段 */
.contact-link-fill a{
    display: block;
    background: #fff;
    color: #330066;
    border-radius: 5px;
    width: 200px;
    padding: 18px 20px;
    text-align: center;
    font-weight: bold;
}
.contact-link-fill th{
    padding-right: 23px;
}
.contact-link-fill th::after{
    content: "";
    display: inline-block;
    background-image: url(../images/svg/icon_blank.svg);
    width: 15px;
    height: 15px;
    position: relative;
    left: 95px;
    top: -40px;
}
.before-book a::before{
    content: "";
    display: inline-block;
    background-image: url(../images/svg/book.svg);
    width: 25px;
    height: 25px;
    background-size: contain;
    position: relative;
    top: 6px;
    right: 5px;
}
.before-bubble a::before{
    content: "";
    display: inline-block;
    background-image: url(../images/svg/bubble.svg);
    width: 25px;
    height: 25px;
    background-size: contain;
    position: relative;
    top: 6px;
    right: 8px;
}

/* コンテンツ中段 */
.contact-supplement p{
    display: block;
    font-size: 0.9rem;
    width: 200px;
    padding: 0px 20px;
    text-align: center;   
}
.contact-supplement td{
    padding-right: 23px;
}

/* コンテンツ下段 */
.contact-link-transparent a{
    display: block;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 200px;
    padding: 18px 20px;
    text-align: center;
    font-weight: bold;
}
.contact-link-transparent th{
    padding-right: 23px;
}
.before-tell a{
    font-size: 1.3rem;
    letter-spacing: 2px;
    padding: 15px 20px;
}
.before-tell a::before{
    content: "";
    display: inline-block;
    background-image: url(../images/svg/icon_call_white.svg);
    width: 20px;
    height: 20px;
    background-size: contain; 
    position: relative;
    top: 3px;
    right: 10px;   
}
.after-blank a::after{
    content: "";
    display: inline-block;
    background-image: url(../images/svg/icon_blank_white.svg);
    width: 15px;
    height: 15px;
    position: relative;
    left: 14px;
}

/* コンテンツ 営業時間 */
.contact-hours p{
    display: block;
    width: 200px;
    padding: 0px 20px;
    font-size: 0.9rem;
    color: #00ccff;
    text-align: center;
}

/* ======================================== relation(関連スクール) ======================================== */
/* 見出し */
.relation-heading h2{
    text-align: center;
}

/* コンテンツ */
.relation-list ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
}
.relation-list figure{
    margin: 13px;
}
.relation-image{
    margin: 0;
    padding: 0;
}
.Nchu-logo img{
    width: 130px;
    margin: 14px 109px;
}
.Nlabo-logo img{
    width: 200px;
    margin: 18px 74px;
}
.relation-image img{
    width: 350px;
    height: 130px;
    vertical-align: bottom;
}
figcaption{
    border: 1px solid #ccc;
    border-radius: 0 0 10px 10px;
    height: 60px;
}

/* ======================================== パンくずリスト ======================================== */
.breadcrumb-border-top{
    border-top: 1px solid #ccc;
}
.breadcrumb-border-bottom{
    border-bottom: 1px solid #ccc;
}
.breadcrumb{
    max-width: 1100px;
    margin: 10px auto;
    font-size: 0.9rem;
}
.breadcrumb a{
    color: #330066;
}
.breadcrumb ul{
    display: flex;
    list-style-type: none;
}
.breadcrumb li::after{
    content: ">";
    margin: 0 10px;
    color: #330066;
}
.breadcrumb li:last-child::after{
    content: none;
}

/* ======================================== info ======================================== */
/* ----- 全体レイアウト ----- */
/* 共通 */
.info-container{
    max-width: 1100px;
    margin: 40px auto;
    font-weight: lighter;
    display: flex;
}
.info-container ul{
    list-style-type: none;
    padding-right: 30px;
}
.info-container li{
    font-size: 0.8rem;
    margin: 10px 0;
    letter-spacing: 1.5px;
}

/* info1 */
.info1-container h3{
    font-size: 1rem;
    font-weight: bold;
    color: #330066;
    margin: 0;
    padding: 0;
}
.info1-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 400px;
    width: 100%;
}
ul.about-Nkou{
    margin-bottom: 30px;
}
ul.course-Nkou{
    margin-bottom: 70px; 
}
ul.support-Nkou{
    margin-bottom: 60px;
    padding-right: 0;
    width: 200px;
}
.wrap-item{
    width: 220px;
}
ul.wrap-item{
    padding-right: 0;
}
h3.top-margin{
    margin-top: 30px;
}
.supplement-letter{
    font-size: 0.7rem;
    color: #999;
    line-height: 1.7s;
}
/* info2 */
.info2-container{
    padding-left: 25px;
    border-left: 1px solid #ccc;
    width: 220px;
}
.info2-1{
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}
.info2-container ul{
    padding-right: 0;
}
.info2-2{
    padding: 5px 0 5px 0;
}
.SNS-list img{
    width: 33px;
    height: 33px;
}
.SNS-list li{
    display: inline-block;
    margin-right: 5px;
}
.SNS-list li:last-child{
    margin-right: 0;
}